h2{
  font-family: sans-serif;
  font-size: 30px;
  font-style: italic;
}
body{
  background-color: #bfbfbf;
  /*background-image: url(bg.jpg);*/
}
#eDatos{
  position: absolute;
  text-align: center;
  border-radius: 25px;
  /*border: 2px solid blue;*/
  /*top: 15px
  /*right: 50%;*/
  right: 20%;
  padding: 5px;
  background-color: #001a33;
  /*width: 150px;
  height: 200px:*/
  width: 70%;
}
.boton{
  width: 80px;
  height: 30px;
  margin-left: px;
  margin-top: 10px;
  background-color: #00b386;
  color: white;
  font-weight: bolder;
}
.cajas{
  color: #e0e0d1;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 350px;
  background-color: #001a33;
  border: 0.5px solid;
  border-color: #e6e6e6;
}
form{
  color: #e6e6e6;
  font-family: fantasy;
  align-self: center;
  /*background-color: #001a33;*/
}
